<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
    <link rel="stylesheet" href="css/product/index.css" />
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <script src="javascript/product.js"></script>
    <section>
      <div><%- include("./create") %></div>
      <div><%- include("./edit") %></div>

      <div class="table-container">
        <div>
          <p class="table-container__title">List product</p>
          <button
            class="table-container__btn-create"
            onclick="OpenModelCreate()"
          >
            create
          </button>
        </div>
        <table>
          <tr>
            <th>IdProduct</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Image</th>
            <th>Action</th>
          </tr>

          <% listProduct.forEach(item => { %>
          <tr>
            <td><%= item.IdProduct %></td>
            <td><%= item.Name %></td>
            <td><%= item.Amount %></td>
            <td><%= item.Price %></td>
            <td><%= item.Image %></td>
            <td>
              <button class="table-container__btn-edit" onclick="OpenModelEdit()">Edit</button>
              <a
                class="table-container__btn-delete"
                href="/product/delete/<%= item.IdProduct %>"
                >Delete</a
              >
            </td>
          </tr>
          <% }); %>
        </table>
      </div>
    </section>
  </body>
</html>
